@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
    -webkit-tap-highlight-color: transparent;
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
